.popup__input {
    width: 358px;
    height: 27px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 510px) {
    .popup__input {
        width: 238px;
        height: 27px;
    }
}