.profile {
    max-width: 880px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 321px) and (max-width: 1279px) {
    .profile {
        max-width: calc(282px + (880 - 282) * (100vw - 320px) / (1290 - 320));
        margin-top: calc(42px + (40 - 42) * (100vw - 320px) / (1280 - 320));
    }
}

@media screen and (max-width: 859px) {
    .profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .profile {
        max-width: 282px;
        margin-top: 42px;
    }
}