.profile__text {
    width: 336px;
    margin: 8px auto 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width: 859px) {
    .profile__text {
        text-align: center;
    }
}

@media screen and (min-width: 321px) and (max-width: 1279px) {
    .profile__text {
        font-size: calc(14px + (18 - 14) * (100vw - 320px) / (1290 - 320));
        line-height: calc(17px + (22 - 17) * (100vw - 320px) / (1280 - 320));
        margin-top: calc(14px + (16 - 14) * (100vw - 320px) / (1290 - 320));
    }
}

@media screen and (max-width: 320px) {
    .profile__text {
        width: 282px;
        margin-top: 9px;
        font-size: 14px;
        line-height: 17px;
    }
}