.popup__close {
    width: 32px;
    height: 32px;
    margin-top: 155px;
    margin-left: calc((100vw - 430px) / 2 + 438px);
    margin-right: calc((100vw - 430px) / 2 - 40px);
    padding: 0;
    background-color: #000000;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 510px) {
    .popup__close {
        width: 20px;
        height: 20px;
        margin-top: 87px;
        margin-left: calc((100vw - 282px) / 2 + 282px - 20px);
        margin-right: calc(100vw - (100vw - 430px) / 2 + 282px);
    }
}