.popup__close {
    width: 32px;
    height: 32px;
    align-self: flex-end;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../../images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 510px) {
    .popup__close {
        width: 20px;
        height: 20px;
    }
}