.popup__input_name_title {
    margin: 54px auto 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 510px) {
    .popup__input {
        margin-top: 75px;
    }
}