.popup__close-icon {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 510px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
    }
}