.element__like-count {
    width: 10px;
    height: 13px;
    margin: 3px 6px 0 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    border: none;
    pointer-events: none;
}