.header {
    max-width: 880px;
    padding-top: 45px;
    padding-bottom: 41px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 321px) and (max-width: 1279px) {
    .header {
        max-width: calc(320px + (880 - 320) * (100vw - 320px) / (1290 - 320));
        padding-top: calc(28px + (45 - 28) * (100vw - 320px) / (1280 - 320));
        padding-bottom: calc(31.6px + (41 - 31.6) * (100vw - 320px) / (1280 - 320));
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
        padding-bottom: 31.6px;
    }
}